.panel {
  font-family: Dogiga;
  margin-right: 20px;
  margin-top: 10px;
}

.score {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.button {
  text-align: center;
  padding: 10px;
  border: 3px solid black;
  cursor: pointer;
}